.gameboard {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: solid 3px black;
  width: 18em;
  height: 36em;
  background-color: darkgrey;
}

.gameboard td {
  padding: 0;
  border: 1px solid grey;
  width: 10%;
  height: 5%;
}

.red { background-color: red; }
.yellow { background-color: yellow; }
.green { background-color: green; }
.cyan { background-color: cyan; }
.purple { background-color: purple; }
.blue { background-color: blue; }
.orange { background-color: orange; }
.white { background-color: white; }
.black { background-color: black; }
.lightgrey { background-color: lightgrey; }
